---
import { Icon } from "astro-icon/components";
---

<div>
    <p class="my-10 text-center text-slate-500 max-sm:text-sm">
        Podés contribuir a este proyecto{" "}
        <a
            class="text-nowrap underline"
            target="_blank"
            href="https://github.com/ramiro-l/Examenes-Viejos-Web"
        >
            en este repositorio
            <Icon name="carbon:logo-github" class="-mt-0.5 inline-block h-4 w-4" />
        </a>
    </p>
</div>
