---
import { Icon } from "astro-icon/components";
import ButtonBack from "@/components/ButtonBack.tsx";
---

<nav class="mb-5 max-md:mt-6">
    <div class="flex items-center justify-between">
        <a class="flex items-center" href="/">
            <Icon name="carbon:attachment" size={32} class="mr-2" />
            <h1 class="text-2xl font-bold max-md:text-xl">Examenes Viejos | FaMAF</h1>
        </a>
        <ButtonBack client:load />
    </div>
</nav>
