---
import Layout from "@/layouts/Layout.astro";
---

<Layout
    title="Examenes Viejos FaMAF"
    metaImage="https://i.ibb.co/kKv1B9z/Banner-Examenes-Viejos.png"
    metaDescription="Esta pagina es una interfaz para ver todos los examenes viejos de FaMAF"
    metaKeywords="examenes, viejos, famaf, computacion"
>
    <div class="flex h-[80vh] flex-col place-items-center justify-center">
        <h1 class="text-xl uppercase">Agregar Examen</h1>
        <p class="text-4xl">PROXIMAMENTE!!</p>
    </div>
</Layout>
