---
import Layout from "@/layouts/Layout.astro";
---

<Layout
    title="Examen Viejo FaMAF"
    metaImage="https://i.ibb.co/kKv1B9z/Banner-Examenes-Viejos.png"
    metaDescription="Esta pagina es una interfaz para ver todos los examenes viejos de FaMAF"
    metaKeywords="examenes, viejos, famaf, computacion"
    isNavbarVisible={false}
    isFooterVisible={false}
>
    <div
        class="flex h-[80vh] w-full flex-col place-items-center justify-center"
        id="content-preview"
    >
        <iframe id="preview" class="fixed left-0 top-0 h-[100vh] w-[100vw]"></iframe>

        <p id="loader-preview" class="animate-pulse text-4xl font-bold">Cargando...</p>
    </div>
</Layout>

<script is:inline>
    document.addEventListener("DOMContentLoaded", () => {
        const querystring = window.location.search;
        const params = new URLSearchParams(querystring);
        const doc = params.get("document");
        const url = doc ? "http://nbviewer.jupyter.org/github/" + doc : "";

        function isValidURL(url) {
            try {
                new URL(url);
                return true;
            } catch (e) {
                return false;
            }
        }

        if (url && isValidURL(url)) {
            const iframe = document.getElementById("preview");
            iframe.src = url;
            iframe.addEventListener("load", () => {
                const loader = document.getElementById("loader-preview");
                loader.remove();
            });
        } else {
            // agregamos un mensaje de error el contenedor
            const content = document.getElementById("content-preview");
            content.innerHTML = `
                    <p class="text-4xl font-bold">URL no valida</p>
                    <a href="/" class="mt-5">
                        <button class="underline">Volver al inicio</Button>
                    </a>
            `;
        }
    });
</script>
