---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
import type { Carrera } from "@/models/carrera";
import carreras from "@/data/carreras.json";
import CardCarreras from "@/components/CardCarrera.astro";

const carrera_data: Carrera[] = carreras as Carrera[];
---

<Layout
    title="Examenes Viejos"
    metaImage=""
    metaDescription="Esta pagina es una interfaz para ver los examenes viejos del repositorio de github"
    metaKeywords="examenes, viejos, famaf, computacion"
    isNavbarVisible={false}
>
    <main class="flex h-[50vh] flex-col place-items-center justify-center">
        <Icon name="carbon:attachment" size={82} class="mb-5" />
        <h1 class="text-center text-4xl font-black max-md:text-3xl">Examenes Viejos | FaMAF</h1>
        <p class="max-w-[90vw] text-center max-sm:text-sm max-[420px]:text-justify">
            Esta pagina es una interfaz para ver los examenes viejos del repositorio de <strong
                >github</strong
            >
            <a
                href="https://github.com/ExamenesViejos-FaMAF-Computacion/ExamenesViejos-FaMAF-Computacion"
                target="_blank"
                class="text-center font-medium underline max-md:text-sm"
                >ExamenesViejos-FaMAF-Computacion</a
            >
        </p>
    </main>
    <div class="columns-2 px-5 max-xl:columns-1">
        {carrera_data.map((carrera) => <CardCarreras carrera={carrera} />)}
    </div>
</Layout>
