---
import { Table, TableBody, TableCaption, TableCell, TableRow } from "@/components/ui/table";
import { Button } from "./ui/button";

import type { Carrera } from "@/models/carrera";
import { type Materia } from "@/models/materia";
import { organizeMaterias } from "@/lib/materias";
import { parse_curtimestre_number_to_text } from "@/services/examenes/materia_repository";

interface Props {
    carrera: Carrera;
    materias: Materia[];
}

const { carrera, materias } = Astro.props;

const materias_ordenadas: Materia[][][] = organizeMaterias(materias);
---

<Table>
    <TableCaption>Materias de la carrera {carrera.name}.</TableCaption>
    <TableBody>
        {
            materias_ordenadas.map((materias_anio, anio) => (
                <TableRow className=" max-md:hover:bg-transparent">
                    <TableCell className="text-left align-text-top font-extrabold max-sm:pl-2 pr-1 text-nowrap">
                        {anio + 1}º año
                    </TableCell>
                    <TableCell className="grid grid-cols-2 max-md:grid-cols-1 max-sm:px-1">
                        {materias_anio.map((materias_cuatrimestre, cuatrimestre) => (
                            <div class="w-fit text-left align-text-top max-md:mb-6">
                                <div class="mb-2 ml-3 font-extrabold">
                                    {parse_curtimestre_number_to_text(cuatrimestre + 1)}{" "}
                                    Cuatrimestre
                                </div>
                                {materias_cuatrimestre.map((materia) => (
                                    <div>
                                        <a href={`/${carrera.code}/${materia.code}`}>
                                            <Button
                                                variant="link"
                                                className=" uppercase  text-left font-normal text-balance h-auto"
                                            >
                                                {materia.name}
                                            </Button>
                                        </a>
                                    </div>
                                ))}
                            </div>
                        ))}
                    </TableCell>
                </TableRow>
            ))
        }
    </TableBody>
</Table>
