---
import { Table, TableBody, TableCaption, TableCell, TableRow } from "@/components/ui/table";
import { Button } from "./ui/button";

import type { Carrera } from "@/models/carrera";
import type { Materia } from "@/models/materia";

interface Props {
    carrera: Carrera;
    materias: Materia[];
}

const { carrera, materias } = Astro.props;

// Determinar la cantidad máxima de años y cuatrimestres
const cant_anios = materias.reduce((max, materia) => Math.max(max, materia.anio), 0);
const cant_cuatrimestres = materias.reduce(
    (max, materia) => Math.max(max, materia.cuatrimestre),
    0,
);

// Inicializar el arreglo multidimensional
const materias_ordenadas: Materia[][][] = Array.from({ length: cant_anios }, () =>
    Array.from({ length: cant_cuatrimestres }, () => []),
);

// Llenar el arreglo multidimensional
materias.forEach((materia) => {
    const anioIndex = materia.anio - 1;
    const cuatrimestreIndex = materia.cuatrimestre - 1;
    materias_ordenadas[anioIndex][cuatrimestreIndex].push(materia);
});

const parse_curtimestre_number_to_text = (cuatrimestre: number) => {
    switch (cuatrimestre) {
        case 1:
            return "Primer";
        case 2:
            return "Segundo";
        case 3:
            return "Tercer";
        case 4:
            return "Cuarto";
        default:
            return "Desconocido";
    }
};
---

<Table>
    <TableCaption>Materias de la carrera {carrera.name}.</TableCaption>
    <TableBody>
        {
            materias_ordenadas.map((materias_anio, anio) => (
                <TableRow className=" max-md:hover:bg-transparent">
                    <TableCell className="text-left align-text-top font-extrabold max-sm:pl-2 pr-1 text-nowrap">
                        {anio + 1}º año
                    </TableCell>
                    <TableCell className="grid grid-cols-2 max-md:grid-cols-1 max-sm:px-1">
                        {materias_anio.map((materias_cuatrimestre, cuatrimestre) => (
                            <div class="w-fit text-left align-text-top max-md:mb-6">
                                <div class="mb-2 ml-3 font-extrabold">
                                    {parse_curtimestre_number_to_text(cuatrimestre + 1)}{" "}
                                    Cuatrimestre
                                </div>
                                {materias_cuatrimestre.map((materia) => (
                                    <div>
                                        <a href={`/${carrera.code}/${materia.code}`}>
                                            <Button
                                                variant="link"
                                                className=" uppercase text-wrap text-left font-normal"
                                            >
                                                {materia.name}
                                            </Button>
                                        </a>
                                    </div>
                                ))}
                            </div>
                        ))}
                    </TableCell>
                </TableRow>
            ))
        }
    </TableBody>
</Table>
